{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Баланс{% endblock meta_title %}
{% block logo %}БАНКОМАТНАЯ СЕТЬ{% endblock logo %}
{% block title %}ВАШ БАЛАНС{% endblock %}


{% block content %}

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Дата</th>
        <th>Баланс</th>
      </tr>
    </thead>
      <tbody>
        <tr>
            <td>{{ cardowner.first_name }} {{ cardowner.middle_name }} {{ cardowner.last_name }}</td>
            <td>{{ now_date }}</td>
            {% if cardowner.balance == 0.0 %}
            <td>{{ empty }} грн</td>
            {% else %}
            <td>{{ cardowner.balance }} грн</td>
            {% endif %}
      </tr>
    </tbody>
  </table>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Время операции</th>
        <th>№ операции</th>
        <th>Операции</th>
      </tr>
    </thead>
    {% for o in oper %}
      <tbody>
        <tr>
            <td>{{ o.data_time }}</td>
            <td>{{ o.id }}</td>
            <td><p>{{ o.description }}</p></td>
      </tr>
    </tbody>
   {% endfor %} 
  </table>

    
   <form method="post" enctype="multipart/form-data" role="form">
      {% csrf_token %}

	<div class="row" id="content-columns">
	  <div class="col-xs-8" id="content-column">
          <input class="btn btn-success" onclick="window.history.back();" type="button" value="Назад"/>
	  </div>
	  <div class="col-xs-1" id="content-column">
          <button type="submit" name="exit" class="btn btn-success">Выход</button>
	  </div>
	</div>

  </form>



{% if oper.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav class='col-xs-12'>
  <ul class="pagination">
      <li>
        <a href="{{ PORTAL_URL }}/pin_code/{{ cardowner.id }}/operations/balance/?page=1&amp;">&laquo;</a>
      </li>
      {% for p in oper.paginator.page_range %}
      <li {% if oper.number == p %}class="active"{% endif %}>
        <a href="{{ PORTAL_URL }}/pin_code/{{ cardowner.id }}/operations/balance/?page={{ p }}&amp;">{{ p }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="{{ PORTAL_URL }}/pin_code/{{ cardowner.id }}/operations/balance/?page={{ oper.paginator.num_pages}}&amp;">&raquo;</a>
      </li>
  </ul>
</nav>
{% endwith %}
{% endif %}

{% endblock content %}

