{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Выдача наличных{% endblock meta_title %}
{% block logo %}БАНКОМАТНАЯ СЕТЬ{% endblock logo %}
{% block title %}ВВЕДИТЕ СУММУ{% endblock %}


{% block content %}
  <form  method="post" enctype="multipart/form-data" role="form">
  	{% csrf_token %}

  	<div class="row" id="header" style="margin-bottom:30px">
      <div class="col-xs-12">
      <input type="text" class="form-control" 
      		 id="input" name="get_cash"
      		 placeholder='сумма для снятия наличных'
      		 value="{{ request.POST.get_cash }}">
      </div>
      <!-- <span class="help-block">{{ errors }}</span> -->
    </div>
  	
    <div>
	<table>
		<tbody>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="1"></td>
				<td><input class="btn btn-default; silver" type="button" value="2"></td>
				<td><input class="btn btn-default; silver" type="button" value="3"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="4"></td>
				<td><input class="btn btn-default; silver" type="button" value="5"></td>
				<td><input class="btn btn-default; silver" type="button" value="6"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="7"></td> 
				<td><input class="btn btn-default; silver" type="button" value="8"></td>
				<td><input class="btn btn-default; silver" type="button" value="9"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="#"></td>
				<td><input class="btn btn-default; silver" type="button" value="0" id="n0"></td>
				<td><input class="btn btn-default; silver" type="button" value="c" id="bckspc"></td>
			</tr>
		</tbody>
	</table>
	</div>

	<div class="row" id="content-columns">
	  <div class="col-xs-8" id="content-column">
		<button type="reset" class="btn btn-primary">Очистить</button>
	  </div>
	  <div class="col-xs-1" id="content-column">
		<button class="btn btn-success" name="ok" type="submit">OK</button>
	  </div>
	</div>
	<div class="row" id="content-columns" style="margin-top:20px">
	  <div class="col-xs-12" id="content-column">
		<button type="submit" name="exit" class="btn btn-success">Выход</button>
	  </div>
	</div>


  </form>

{% endblock content %}

{% block extra_js %}
  <script src="{{ PORTAL_URL }}{% static 'js/key.js' %}"></script>
{% endblock extra_js %}

{% block extra_js2 %}
<script type="text/javascript">
    jQuery(function(){
      jQuery(".form-control").mask("999 999 999 999");
  });
</script>
{% endblock extra_js2 %}
