{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Стартовая страница{% endblock meta_title %}
{% block logo %}БАНКОМАТНАЯ СЕТЬ{% endblock logo %}
{% block title %}ВЫБЕРИТЕ ДЕЙСТВИЕ{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" role="form">
  	{% csrf_token %}

<div class="delay"></div>
  <div class="row" id="content-columns">
	  <div class="col-xs-7" id="content-column">
		<button type="submit" name="balance" class="btn btn-success">Баланс</button>
	  </div>
	  <div class="col-xs-1" id="content-column" style="padding-left: 80px !important">
		<button type="submit" name="get_cash" class="btn btn-success">Снять сумму</button>
	  </div>
  </div>
  <div class="row" id="content-columns" style="margin-top:40px">
	  <div class="col-xs-12" id="content-column">
		<button type="submit" name="exit" class="btn btn-primary">Выход</button>
	  </div>
  </div>
  </form>

{% endblock content %}

