{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Стартовая страница{% endblock meta_title %}
{% block logo %}БАНКОМАТНАЯ СЕТЬ{% endblock logo %}
{% block title %}ВЫБЕРИТЕ ДЕЙСТВИЕ{% endblock %}


{% block content %}
<div class="delay"></div>
  <div class="row" id="content-columns">
	  <div class="col-xs-7" id="content-column">
		<button href='' type="button" class="btn btn-primary">Баланс</button>
	  </div>
	  <div class="col-xs-1" id="content-column" style="padding-left: 80px !important">
		<button type="button" class="btn btn-success">Снять сумму</button>
	  </div>
  </div>
  <div class="row" id="content-columns" style="margin-top:40px">
	  <div class="col-xs-12" id="content-column">
		<button type="button" class="btn btn-info">Выход</button>
	  </div>
  </div>

{% endblock content %}

