{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Стартовая страница{% endblock meta_title %}  
{% block logo %}РАДЫ ПРИВЕТСВОВАТЬ ВАС В БАНКОМАТНОЙ СЕТИ{% endblock logo %}
{% block title %}ВВЕДИТЕ НОМЕР КАРТЫ{% endblock %}


{% block content %}
  <form  method="post" enctype="multipart/form-data" role="form">
  	{% csrf_token %}

  	<div class="row" id="header" style="margin-bottom:30px">
    <div class="col-xs-12">
      <input type="text" class="form-control" 
      		 id="cardnumber" name="cardnumber"
      		 value="{{ request.POST.cardnumber }}">
    </div>
    </div>
  	
    <div>
	<table>
		<tbody>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="1" id="n1"></td>
				<td><input class="btn btn-default; silver" type="button" value="2" id="n2"></td>
				<td><input class="btn btn-default; silver" type="button" value="3" id="n3"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="4" id="n4"></td>
				<td><input class="btn btn-default; silver" type="button" value="5" id="n5"></td>
				<td><input class="btn btn-default; silver" type="button" value="6" id="n6"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="7" id="n7"></td> 
				<td><input class="btn btn-default; silver" type="button" value="8" id="n8"></td>
				<td><input class="btn btn-default; silver" type="button" value="9" id="n9"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default; silver" type="button" value="$"></td>
				<td><input class="btn btn-default; silver" type="button" value="0" id="n0"></td>
				<td><input class="btn btn-default; silver" type="button" value="&#8249;" id="bckspc"></td>
			</tr>
		</tbody>
	</table>
	</div>

	<div class="row" id="content-columns">
	  <div class="col-xs-8" id="content-column">
		<button type="reset" class="btn btn-primary">Очистить</button>
	  </div>
	  <div class="col-xs-1" id="content-column">
		<button class="btn btn-success" name="ok" type="submit">OK</button>
	  </div>
	</div>

  </form>

{% endblock content %}


{% block extra_js %}
  <script src="{{ PORTAL_URL }}{% static 'js/key.js' %}"></script>
{% endblock extra_js %}
