
/*Global Styles*/
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

#pag-active{
    color: #666666;
}

/* Form Styles */
textarea,
select,
input {
max-width: 300px;
}

.success{
    color: #006400;
    background-color: #E0FFFF;
    border-color: #3CB371;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;	
}
.silver{
    background-color: lightgrey;
    font-size: 15px;
}

.delay{
    margin-bottom: 120px;
}


